.nav{
    padding: 1vmax;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-bottom: 1px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1000;
}

.nav > .logo,
.nav > .logo > Link, 
.nav > .searchBx, 
.nav > .logo > #logo{
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav > #LogoBx {
    background: #ff6800;
    width: 58px;
    height: 58px;
    border-radius: 20px;
    margin-right: 1.2vmax;
    overflow: hidden;
    cursor: pointer !important;
    position: relative;
}


.nav > .logo > Link{
    cursor: pointer;
}

#logoImg{
    transform: translateX(-40%) scale(1.5);
    transition: 0.3s ease;
    cursor: pointer;
}

.logo:hover #logoImg{
    transform: translateX(40%) scale(1.5);
}

.nav > .navlinks{
    color: rgb(59, 59, 59);
    font-weight: 500;
    font-size: 0.9vmax;
    margin: 1vmax 1.2vmax;
    transition: 0.2s ease;
}

.nav > .navlinks:hover{
    color: #ff6800;
}

.searchBx{
    position: relative;
    left: 5vmax;
}

.searchBx > input{
    padding: 10px 20px;
    width: 15vmax;
    border: none;
    outline: none;
    border-bottom: 1px solid #b0b0b0;
}
